$red: #ff0000;
$lgr: #f3f3f3;
$grey: #f4f4f4;
$lbl: #141419;

$font: "FuturaBookC";
$font2: "FuturaBookDemiC";

.applications{
    &__filter{
        display: flex;
        flex-wrap: wrap;
        .btn{
            display: inline-block;
            margin-right: 10px;
            padding: 10px 10px;
            margin-bottom: 11px;
        }
    }
    &__content{
        margin-top: 50px;
    }
    &__offer{
        margin-top: 45px;
        display: flex;
        align-items: center;
        p{
            font-size: 16px;
            color: rgb(0, 0, 0);
            margin-right: 25px;
            a{
                font-size: 16px;
                color: $red;
                text-decoration: underline;
            }
        }
        &_logo{
            display: flex;
            flex-wrap: wrap;
            img{
                width: 27px;
                height: 27px;
                object-fit: contain;
                object-position: center;
                margin-right: 18px;
            }
        }
    }
}

.application{
    margin-top: 35px;
    &-box{
        position: relative;
        width: 100%;
        background-color: #fff;
        border: 1px solid #a8a8a8;
        border-top: 0;
        padding: 65px 40px 50px 40px;
        &__row{
            display: flex;
            align-items: center;
            margin-bottom: 25px;
        }
    }
    &__hover{
        position: relative;
        &_bg{
            width: 100%;
            height: 100%;
            background-image: url(../../images/hover-bg.png);
            background-size: cover;
            background-position: center;
            position: absolute;
            top: 0;
            left: 0;
            z-index: 0;
        }
        &:first-child{
            .application-box{
                border-top: 1px solid #a8a8a8;
            }
        }
        &:hover{
            padding: 25px;
            .application-box{
                padding: 40px 16px 25px 16px;
                border-top: 1px solid #000;
                border-color: #000;
            }
        }
    }
    &__num{
        padding: 8px 12px;
        background-color: $red;
        font-size: 13px;
        font-family: $font2;
        color: rgb(255, 255, 255);
        font-weight: bold;
        text-transform: uppercase;
        margin-right: 25px;
    }
    &__date{
        font-size: 16px;
        font-weight: 500;
        color: rgb(25, 20, 20);
        text-transform: uppercase;
    }
    &__text{
        font-size: 17px;
        color: rgb(20, 20, 25);
    }
    &__theme{
        font-size: 21px;
        font-family: $font2;
        color: rgb(20, 20, 25);
    }
    &__line{
        width: 100%;
        border: 1px solid #e5e5e5;
        margin: 25px 0;
    }
}