$red: #ff0000;
$lgr: #f3f3f3;
$grey: #f4f4f4;
$lbl: #141419;

%hover-red{
    background-color: transparent;
    border: 2px solid $red;
    a{
        color: $red;
    }
}

.equipment{
    width: 100%;
    padding-top: 95px;
    padding-bottom: 110px;
    background-color: #fcfcfc;
    background-image: url(../../images/eq-bg.jpg);
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
    &__container{
        max-width: 1255px;
        margin: 0 auto;
        padding: 0 15px;
      }
    &__title{
        font-size: 49px;
        font-family: $font;
        color: rgb(0, 0, 0);
        font-weight: 400;
        line-height: 1;
    }
    &__content{
        padding-top: 40px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    &__box{
        height: 157px;
        width: 28%;
        &_content{
            padding-top: 45px;
            width: 100%;
            height: 117px;
            border-bottom: 1px solid #111111;
            position: relative;
            a{
                font-size: 20px;
                font-family: $font;
                color: rgb(17, 17, 17);
                line-height: 1.4;
                font-weight: 400;
                letter-spacing: 0.3px;
            }
            &-last{
                padding-top: 45px;
                width: 80%;
                height: 117px;
                p{
                    font-size: 20px;
                    font-family: $font;
                    color: rgb(17, 17, 17);
                    line-height: 1.4;
                    font-weight: 500;
                }
            }
        }
        &:hover{
            .equipment__box_content{
                background-color: $red;
                border: 0;
                width: calc(100% + 50px);
                height: 147px;
                padding-top: 45px;
                padding-bottom: 20px;
                padding-left: 50px;
                margin-bottom: 10px;
                margin-left: -50px;
                a{
                    color: #fff;
                    font-weight: 400;
                }
            }
            //&:nth-child(3n+1){
            //    .equipment__box_content{
            //        margin-left: 0;
            //        width: calc(100% - 50px);
            //    }
            //}
            .plus{
                &-1, &-2{
                    display: block;
                }
            }
        }
    }
    &__btn{
        font-size: 20px;
        font-family: $font;
        color: $red;
        line-height: 1.4;
        text-decoration: underline;
        font-weight: 500;
    }
}

.plus{
    &-1, &-2{
        display: none;
        background-color: #fff;
        position: absolute;
    }
    &-1{
        width: 3px;
        height: 23px;
        top: 50px;
        right: 60px;
    }
    &-2{
        width: 23px;
        height: 3px;
        top: 60px;
        right: 50px;
    }
}

.possibility{
    width: 100%;
    position: relative;
    padding-top: 105px;
    padding-bottom: 115px;
    .justify{
        justify-content: space-between;
    }
    &__content{
        width: 520px;
        &_grey{
            position: absolute;
            background-color: $grey;
            top: 0;
            left: 0;
            width: 50%;
            height: 100%;
            z-index: -1;
        }
        &_grey-right{
            position: absolute;
            background-color: $grey;
            top: 0;
            right: 0;
            width: 50%;
            height: 100%;
            z-index: -1;
        }
    }
    &__title{
        font-size: 47px;
        font-family: $font;
        color: rgb(20, 20, 25);
        font-weight: bold;
        line-height: 1.001;
    }
    
    &__slider{
        margin-top: 30px;
        margin-bottom: 30px;
        width: 500px;
        height: 250px;
        &-item{
            width: 100%;
            height: 100%;
        }
    }
    &__slider_1, &__slider_2{
        width: 100%;
        height: 100%;
    }
    &__prev_1, &__next_1, &__prev_2, &__next_2{
        width: 43px;
        height: 42px;
        border-radius: 50%;
        background-size: cover;
        cursor: pointer;
    }
    &__prev_1, &__prev_2{
        background-image: url(../../images/prev.png);
    }
    &__next_1, &__next_2{
        background-image: url(../../images/next.png);
    }
    &__list-item{
        font-size: 17px;
        font-family: $font;
        color: rgb(0, 0, 0);
        line-height: 1.385;
        position: relative;
        padding-left: 50px;
        font-weight: 300;
        margin-bottom: 25px;
        &:before{
            content: "";
            display: block;
            width: 26px;
            height: 2px;
            background-color: $red;
            position: absolute;
            top: 10px;
            left: 0;
        }
        &:last-child{
            margin-bottom: 0;
        }
    }
    .provisioner__btn{
        border-color: #000;
        a{
            color: #000;
        }
        &:hover{
            @extend %hover-red;
        }
    }
    &__row{
        display: flex;
        justify-content: space-between;
    }
    &__text{
        font-size: 20px;
        font-family: $font;
        color: rgb(0, 0, 0);
        line-height: 1.4;
        margin-top: 20px;
        margin-bottom: 50px;
        &-light{
            font-size: 16px;
            font-family: $font;
            color: rgba(20, 20, 25, 0.502);
            font-weight: bold;
            line-height: 1.5;
            margin-top: 40px;
            &_2{
                font-size: 12px;
                font-family: $font;
                color: rgba(20, 20, 25, 0.502);
                font-weight: bold;
                line-height: 2.5;
                margin-bottom: 55px;
            }
        }
    }
    &__form{
        margin-top: 40px;
        width: 475px;
        input{
            width: 100%;
            display: block;
            border: 0;
            padding-bottom: 20px;
            border-bottom: 2px solid #141419;
            margin-bottom: 22px;
            font-size: 18px;
            font-family: $font;
            color: rgb(20, 20, 25);
            line-height: 1.2;
            &::placeholder{
                font-size: 18px;
                font-family: $font;
                color: rgba(20, 20, 25, 0.302);
                font-weight: bold;
                text-transform: uppercase;
                line-height: 1.2;
            }
        }
    }
    &__btns{
        width: 410px;
        display: flex;
        justify-content: space-between;
    }
}

.slider-btns{
    margin-left: 56px;
}
.grey-right{
    right: 0;
}
.content-right{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}