@media (max-width: 1305px){
    .nav{
        &__icons{
            width: 135px;
        }
    }
}

@media (max-width: 1105px){
    .possibility{
        &__row{
            display: block;
        }
        &__content{
            width: 100%;
        }
    }
}