.offer{
    &__content{
        margin-top: 20px;
        width: 100%;
    }
}

.search{
    width: 100%;
    &-form{
        display: flex;
        width: 100%;
        background-color: rgba(173, 173, 173, 0.45);
        padding: 27px;
        .btn-border{
            margin-left: 25px;
        }
        &__input{
            width: 100%;
            height: auto;
            position: relative;
        }
    }
    &__icon{
        &-1{
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left: 10px;
            width: 18px;
            height: 18px;
            background-image: url(../../images/search.png);
        }
        &-2{
            cursor: pointer;
            position: absolute;
            top: 50%;
            right: 19px;
            transform: translateY(-50%);
            p{
                font-size: 14px;
                color: rgba(0, 0, 0, 0.702);
            }
            &:hover{
                p{
                    color: rgb(255, 0, 0);
                }
                .search__img {
                    background-image: url(../../images/search-2-hover.png);
                    background-size: cover;
                    background-position: center;
                    background-repeat: no-repeat;
                }
            }
        }
    }
    &__img{
        width: 20px;
        height: 17px;
        position: absolute;
        top: -2px;
        left: -24px;
        background-image: url(../../images/search-2.png);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
    &-input{
        @extend %input-reset;
        width: 100%;
        height: 100%;
        padding-left: 35px;
        padding-right: 160px;
        font-size: 18px;
        color: #000;
        background-color: rgb(255, 255, 255);
        border: 1px solid #000;
        &::placeholder{
            font-size: 16px;
            color: rgba(0, 0, 0, 0.302);
        }
    }
}

.advanced-search{
    display: none;
    &.active{
        display: block;
    }
}

.box{
    width: 100%;
    border: 1px solid #000;
    background-color: #fff;
    border-top: 0;
    padding: 60px;
    &:first-child{
        border-top: 1px solid #000;
    }
    &__title{
        font-size: 24px;
        font-family: $font2;
        color: rgb(20, 20, 25);
    }
    &__equipment{
        font-size: 16px;
        font-family: $font2;
        color: rgba(255, 0, 0, 0.8);
        text-decoration: underline;
        display: block;
        margin: 25px 0 20px 0;
    }
    &__row{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-bottom: 26px;
    }
    &__section{
        width: auto;
        display: flex;
        &_text{
            font-size: 16px;
            font-family: $font;
            color: #141419;
            &-2{
                font-size: 20px;
                font-family: $font;
                color: #141419;
            }
        }
        &_label{
            position: relative;
            font-size: 16px;
            font-family: $font;
            color: rgb(255, 0, 0);
            text-decoration: underline;
            text-transform: uppercase;
            display: inline-block;
            .notification{
                top: -8px;
            }
        }
        &_label, .label{
            margin-right: 12px;
        }
    }
    &__line{
        width: 100%;
        border: 1px solid #e5e5e5;
        margin: 36px 0;
    }
    &__notification{
        font-size: 13px;
        font-family: $font2;
        color: rgb(255, 0, 0);
        text-transform: uppercase;
        background-color: #f0f0f0;
        padding: 6px 7px;
        height: fit-content;
    }
    &__btns{
        margin-top: 15px;
        width: 380px;
        display: flex;
        justify-content: space-between;
    }
}

.block{
    display: block;
}


.select{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 40px;
    &__box{
        width: 48%;
        margin-bottom: 30px;
        position: relative;
    }
    &__header{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-bottom: 15px;
        width: 100%;
        border-bottom: 2px solid #060606;
        cursor: pointer;
        &:hover{
            border-bottom: 2px solid $red;
            .select__current{
                color: $red;
            }
            .select__icon{
                border-color: $red transparent transparent transparent;
            }
        }
    }
    &__current{
        @extend %select-text;
    }
    &__icon{
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 6px 5.5px 0 5.5px;
        border-color: #000000 transparent transparent transparent;
    }
    &__body{
        display: none;
        border: 2px solid #060606;
        border-top: 0;
        padding-top: 5px;
        padding-bottom: 10px;
        &.active{
            display: block;
            background: #fff;
            z-index: 3;
        }
    }
    &__item{
        @extend %select-text;
        padding-top: 10px;
        padding-left: 20px;
        cursor: pointer;
        &:hover{
            color: $red;
            padding-left: 25px;
        }
    }
}