$red: #ff0000;
$lgr: #f3f3f3;
$grey: #f4f4f4;
$lbl: #141419;

$font: "FuturaBookC";
$font2: "FuturaBookDemiC";

.steps{
    &__list{
        width: 100%;
        .step{
            width: 50%;
            text-align: center;
            &:last-child{
                width: calc(50% - 15px);
            }
        }
    }
}

.list{
    margin-top: 40px;
    &__word{
        margin-top: 20px;
        padding: 25px;
        border: 2px solid $red;
        .row{
            justify-content: space-between;
        }
        .list__text{
            width: 790px;
        }
        .btn-red{
            height: 45px;
        }
    }
    &__text{
        font-size: 20px;
        color: rgb(20, 20, 25);
        line-height: 1.4;
    }
    &__box{
        position: relative;
        cursor: pointer;
        &:hover{
                .list__box_hover{
                    position: absolute;
                    top: 0;
                    left: -50px;
                    width: calc(100% + 100px);
                    height: 100%;
                    background-color: #eeeeee;
                    z-index: 0;
                }
            }
        &_item{
            padding: 50px 0;
            display: flex;
            justify-content: space-between;
            align-items: center;
            position: relative;
            z-index: 1;
            
        }
        &_text{
            font-size: 22px;
            font-weight: 500;
        }
    }
    &__select{
        width: 350px;
        &_title{
            font-size: 18px;
            color: rgba(20, 20, 25, 0.302);
        }
    }
}