$red: #ff0000;
$lgr: #f3f3f3;
$grey: #f4f4f4;
$lbl: #141419;

$font: "FuturaBookC";
$font2: "FuturaBookDemiC";

.steps{
    &__list{
        width: 100%;
        .step{
            width: 50%;
            text-align: center;
            &:last-child{
                width: calc(50% - 15px);
            }
        }
    }
}

.list{
    input{
        width: 100%;
        margin: 0;
        height: 43px;
        font-size: 18px;
        color: #141419;
        &::placeholder{
            font-size: 18px;
            letter-spacing: -0.45px;
            color: rgba(20, 20, 25, 0.3);
        }
    }
    &__container{
        max-width: 1345px;
        margin: 40px auto 0 auto;
        padding: 0 15px;
        position: relative;
    }
    &__word{
        margin-top: 20px;
        padding: 25px;
        border: 2px solid $red;
        .row{
            justify-content: space-between;
        }
        .list__text{
            width: 790px;
        }
        .btn-red{
            height: 45px;
        }
    }
    &__text{
        font-size: 22px;
        font-weight: 500;
        &_2{
            font-size: 20px;
            color: rgb(20, 20, 25);
            line-height: 1.4;
        }
    }
    &__box{
        position: relative;
        cursor: pointer;
        padding: 50px;
        .valid{
            z-index: 1;
        }
        .list__text {
            width: 59%;
            padding: 10px 30px 0 0;
        }
        &_warning{
            font-size: 18px;
            color: #ff0000;
            line-height: 1.37;
            margin-top: 35px;
        }
        &:hover{
            background-color: #eeeeee;
        }
    }
    &__item{
        display: flex;
        justify-content: space-between;
        position: relative;
        &-2{
            justify-content: initial;
        }
    }
    &__select{
        width: 350px;
        &-box{
            width: calc(100% - 59%);
            display: flex;
            justify-content: space-between;
        }
        &_2{
            width: 120px;
        }
        &_3{
            width: 350px;
            padding-left: 45px;
            input{
                height: 43px;
                margin: 0 0 30px 0;
                &:last-child{
                    margin-bottom: 0;
                }
            }
        }
        & .radio{
            padding-top: 27px;
        }
    }
    &__additional{
        margin-top: 10px;
        .profile__upload {
            margin: 40px 0 35px 0;
        }
    }
    &__new-eqpm{
        width: 700px;
        padding-bottom: 70px;
        p{
            font-size: 16.5px;
            font-weight: 300;
            line-height: 1.33;
            letter-spacing: 0.08px;
            text-align: left;
            color: #000000;
            a{
                color: #ff0000;
                text-decoration: underline;
            }
        }
    }
    &__help{
        padding: 20px 15px;
        background-color: #ff0000;
        position: absolute;
        top: -353px;
        right: 65px;
        cursor: pointer;
        p{
            color: #fff;
            font-size: 16px;
        }
    }
}

.valid{
    width: 21px;
    height: 21px;
    background-image: url(../../images/check-2.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    left: 17px;
    top: 61px;
}

.check-list{
    display: flex;
    flex-wrap: wrap;
    &__item{
        position: relative;
        width: 33%;
        margin-bottom: 34px;
        label{
            font-size: 19px;
        }
    }
}