.card-bg {
  border-top: 1px solid #e1e1e1;
  background: url(../images/application-bg.jpg) 100% 100% no-repeat;
  background-position: top;
  background-size: cover;
  width: 100%;
}
.card .breadcrumbs {
  margin: 65px 0 80px 0;
}
.card__content {
  display: flex;
  justify-content: space-between;
}
.card__left {
  width: 250px;
}
.card__right {
  width: calc(100% - 250px - 150px);
}
.card__img {
  width: 100%;
  height: auto;
  margin-bottom: 35px;
}
.card__img img {
  width: 100%;
  height: auto;
  border-radius: 50%;
  overflow: hidden;
  object-fit: cover;
  object-position: center;
}
.card__btns {
  width: 100%;
}
.card__btns a {
  width: 100%;
  margin-bottom: 12px;
  position: relative;
}
.card__btns a .pdf-img {
  position: absolute;
  width: 22px;
  height: 25px;
  background-image: url(../images/pdf-icon.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.card__btns .btn-pdf {
  padding: 10px 25px 10px 65px;
}
.card__name {
  font-family: FuturaDemiC;
  font-size: 33px;
  font-weight: 600;
  color: #000000;
}
.card__box {
  display: flex;
  flex-wrap: wrap;
  margin-top: 40px;
}
.card__block {
  margin-right: 75px;
}
.card__block_text {
  font-size: 19px;
  font-weight: 500;
  color: #141419;
  margin-top: 10px;
}
.card__list {
  margin-right: 100px;
}
.card__list ul {
  margin-top: 15px;
}
.card__list-item {
  font-size: 16px;
  color: #000;
  line-height: 1.82;
  position: relative;
  padding-left: 33px;
}
.card__list-item a {
  color: #ff0000;
  text-decoration: underline;
}
.card__list-item:before {
  content: "";
  width: 16px;
  height: 1px;
  background-color: #141419;
  position: absolute;
  left: 0;
  top: calc(50% - 1px);
}
.card__desc {
  font-size: 19px;
  font-weight: normal;
  line-height: 1.29;
  letter-spacing: 0.1px;
  text-align: left;
  color: #141419;
}
.card__tel {
  font-size: 19px;
  font-weight: 500;
  line-height: 1.87;
  letter-spacing: 0.1px;
  color: #141419;
}
.card__mail {
  font-size: 16px;
  font-weight: bold;
  line-height: 1.67;
  letter-spacing: 0.08px;
  color: #0958a8;
}
.card__contacts {
  margin-top: 30px;
}
.card__contacts a {
  display: block;
  margin-bottom: 12px;
}
.card__gallery {
  margin: 70px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.card__gallery_item {
  width: 380px;
  height: 385px;
  margin-bottom: 30px;
}
.card__gallery_item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}