.clear {
    clear: both;
}
.place__chat {
    display: none;
    position: fixed;
    top: 170px;
    left: 27%;
    width: 888px;
    height: 627px;
    background-color: #e0e0e0;
    z-index: 50;
    border: 1px solid #6b6b6b;
    border-radius: 5px;
    box-shadow: 0 2px 19px 10000px rgb(0 0 0 / 55%);
}
#place__chat.place__chat {
    width: 750px;
    height: 444px;
    top: 230px;
    left: 30%;
}


.chat__area {
    width: 100%;
    height: calc(100% - 110px);
    background-image: url(/images/chat_bg.png);

}
#place__chat .chat__area {
    width: 100%;
    height: calc(100% - 110px);
    background-image: url(/images/bg-contacts-copy.png);
    -webkit-filter: blur(2px);
    -moz-filter: blur(2px);
    -o-filter: blur(2px);
    -ms-filter: blur(2px);
    filter: blur(2px);
}
.chat__area__history {
    max-height: calc(100% - 110px);
    height: fit-content;
    width: 100%;
    padding: 35px 30px;
    position: absolute;
    top: 0;
    overflow-y: auto;
}

.chat__history__date {
    display: block;
    width: fit-content;
    background-color: #eeeeee;
    border-radius: 8px;
    text-align: center;
    padding: 3px 10px;
    margin: 8px auto;
}
.chat__history__date p {
    color: rgb(96 96 96);
    font-size: 14px;
}
.chat__history__message {
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
    max-width: 90%;
}
.highlighted  .chat__user__ico img {
    opacity: 0.5;
}
.highlighted  .chat__user__content,
.highlighted.to_me.from_supplier .chat__user__content:before,
.highlighted.to_me.admin .chat__user__content:before, 
.highlighted.with_theme .chat__user__content:before  {
    background-color: #ffe8e880;
}
.general__chat .to_me .chat__user__ico img,
.dialog__chat .to_me .chat__user__ico img {
    cursor: pointer;
}
.from_me {
    /* justify-content: right; */
    float: right;
}
.from_me .chat__user__ico  {
    order: 2;
    width: 50px;
}
.from_me .chat__user__content  {
    order: 1;
    margin-right: 20px;
}
.to_me .chat__user__ico  {
    order: 1;
}
.to_me .chat__user__content  {
    order: 2;
}
.chat__user__ico {
    width: 58px;
    position: relative;
}

.chat__user__ico img {
    background-color: white;
    border-radius: 50%;
    padding: 7px;
    height: 42px;
    width: 42px;
}

.chat__user__content {
    /* max-width: 87%; */
    width: fit-content;
    height: fit-content;
    background-color: white;
    border-radius: 5px;
    position: relative;
    padding: 0 20px;
}

.chat__user__ico_nav {
    display: none;
    background-color: white;
    border-radius: 5px;
    position: absolute;
    top: 46px;
    left: -18px;
    width: 187px;
    height: 127px;
    z-index: 100;
    box-shadow: 0px 8px 20px 2px grey;
    padding: 22px;
}
/* .to_me .chat__user__ico:hover .chat__user__ico_nav {
    display: block;
} */
.chat__user__ico_nav.active {
    display: block;

}
.chat__user__ico_nav a{
    font-size: 16.5px;
    line-height: 1.7;
    text-align: left;
    color: #141419;
}
.chat__user__ico_nav a:hover{
    color: red;
}
.to_me .chat__user__content:before {
    content: "";
    position: absolute;
    top: 13px;
    left: -7px;
    width: 13px;
    height: 13px;
    transform: rotate(45deg);
}
.to_me.from_customer .chat__user__content:before {
    background: white;
}
.to_me.from_supplier .chat__user__content:before,
.to_me.admin .chat__user__content:before,
.with_theme .chat__user__content:before {
    background: #ffe8e8;
}
.from_me .chat__user__content:before {
    content: "";
    position: absolute;
    top: 13px;
    right: -7px;
    width: 13px;
    height: 13px;
    background: white;
    transform: rotate(45deg);
}
.to_me {
    /* justify-content: left; */
    float: left;
}
.chat__msg-author {
    padding: 10px 0;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.admin .chat__msg-author,
.admin .chat__msg-content,
.dialog__chat .chat__msg-content,
.dialog__chat .chat__msg-theme{
    padding: 10px 20px;
}
.dialog__chat .chat__msg-author {
    padding: 10px 20px 0 20px;
}
.admin .chat__user__content,
.dialog__chat .chat__user__content {
    padding: 0;
}
.general__chat .chat__msg-author,
.dialog__chat .chat__msg-author .msg_row:last-child{
    border-bottom: 1px solid #36363636;
}
.dialog__chat .chat__msg-author .msg_row:last-child {
    padding-bottom: 20px;
}


.msg_row {
    display: flex;
    justify-content: space-between;
    padding: 3px 0;
}
.chat__msg-author_company {
    font-weight: bold;
    line-height: 1.1;
    color: #ff0000;
    padding: 5px 0;
}
.chat__msg-author_company p {
    font-size: 15px;
}
.dialog__chat .chat__msg-author_company p {
    font-size: 19px;
}
.chat__msg-apply_no {
    line-height: 1.41;
    letter-spacing: -0.34px;
    color: #ff0000;
}
.chat__msg-apply_no p{
    font-size: 13.5px;
}
.admin .chat__msg-author_company p {
    font-size: 24.5px;
}
.chat__msg-author_role {
    font-weight: bold;
    line-height: 1.73;
    color: #141419;
    padding-left: 25px;
}
.from_me .chat__msg-author_role,
.dialog__chat .chat__msg-author_role {
    display: none;
}
.chat__msg-author_role p{
    text-transform: uppercase;
    font-size: 11px;
}
.chat__msg-author_name {
    font-weight: 300;
    color: #141419;
}
.chat__msg-author_name p {
    font-size: 13.5px;
}
.row_theme {
    font-size: 13.5px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.41;
    letter-spacing: -0.34px;
    text-align: left;
    color: rgba(20, 20, 25, 0.3);
}
.row_title {
    font-size: 19px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1;
    letter-spacing: normal;
    text-align: left;
    color: #000000;
}
.row_detail {
    font-size: 19px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1;
    letter-spacing: normal;
    text-align: left;
    color: #000000;
}
.with_theme .chat__msg-content_text p{
    font-style: italic;
}

.chat__bg_pink,
.with_theme .chat__msg-author,
.with_theme .chat__msg-theme {
    background-color: #ffe8e8;
}
.chat__msg-content {
    padding: 10px 0;
}
.chat__msg-content_text {
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.15;
    letter-spacing: -0.41px;
    text-align: left;
    color: #141419;
}
.chat__msg-content_text p {
    font-size: 16.5px;
}
.admin .chat__msg-content_text p {
    font-size: 19px;
}
.chat__msg-content_time {
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.73;
    letter-spacing: -0.28px;
    text-align: left;
    color: #141419;
    margin-left: 10px;
}
.chat__msg-content_time p{
    font-size: 11px;
}
.chat__area__message {
    height: 110px;
    width: 100%;
    position: absolute;
    bottom: 0;
    background-color: #e0e0e0;
    border-radius: 0 0 5px 5px;
    display: flex;
    justify-content: space-between;
}
.chat__message__btns {
    width: 12%;
    margin-left: 2%;
    display: flex;
    justify-content: space-between;
    padding: 15px 0;
}
.chat__print, .chat__add  {
    width: 48%;
    height: 70%;
    cursor: pointer;
    background-color: #e0e0e0;
    margin: 0 auto;
}
.chat__print {
    width: 47px;
    height: 47px;
    background-image: url(/images/print-icon.png);
    background-repeat: no-repeat;
    background-position: 10px center;
    z-index: 50;
}
.chat-upload_img, .chat-upload_doc {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}
.chat-upload + label {
    position: relative;
    display: inline-block;
    height: 100%;
    width: 100%;
    padding: 15px 15px;
    cursor: pointer;

}
.chat-upload + label img {
    width: 22px;
    height: 22px;
    object-position: center;
    object-fit: cover;
    position: absolute;
    top: 11px;
    left: 11px;
}

.chat__message__input {
    width: 90%;
    height: 100%;
    position: relative;
    padding: 15px 20px;
}
.chat__message__input__text {
    height: 80px;
    width: 100%;
    font-size: 18px;
    border: 1px solid white;
    border-radius: 5px;
    padding: 10px;
    resize: none;
}
.chat__message__input__text::-webkit-scrollbar,
.chat__area__history::-webkit-scrollbar{
    width: 10px;
    height: 2px;
    background-color: #ffffff85;
}
.chat__message__input__text::-webkit-scrollbar-thumb,
.chat__area__history::-webkit-scrollbar-thumb{
    background-color: #b07b4b78;
}
.chat__message__enter {
    width: 36px;
    height: 36px;
    position: absolute;
    right: 30px;
    top: 25px;
    background-image: url(/images/enter.png);
    background-repeat: no-repeat;
    background-position: 0px center;
    background-color: white;
    z-index: 50;
    cursor: pointer;
}
.place__chat-close {
    position: absolute;
    top: -36px;
    right: 5px;
    width: 100px;
    height: 40px;
    text-align: left;
    padding: 10px;
}
.place__chat-close a {
    right: 0;
    top: 10px;
    color: white;
    opacity: 0.8;
}
.place__chat-close:hover {
    cursor: pointer;
}
.place__chat-close:hover a {
    opacity: 1;
}
.place__chat-close .close:before,
.place__chat-close .close:after {
    height: 20px;
    width: 4px;
    background-color: white;
}