@font-face {
	font-family: "FuturaBookC";
	font-weight: 400;
	font-style: normal;
	src: url("/css/fonts/FuturaBookC.ttf") format("truetype"); 
}

@font-face {
	font-family: "FuturaBookC";
	font-weight: 400;
	font-style: italic;
	src: url("/css/fonts/FuturaBookCItalic.ttf") format("truetype"); 
}

@font-face {
	font-family: "FuturaBookC";
	font-weight: 500;
	font-style: normal;
	src: url("/css/fonts/FuturaMediumC.ttf") format("truetype"); 
}

@font-face {
	font-family: "FuturaBookC";
	font-weight: 500;
	font-style: italic;
	src: url("/css/fonts/FuturaMediumC-Italic.ttf") format("truetype"); 
}


@font-face {
	font-family: "FuturaBookDemiC";
	font-weight: 400;
	font-style: normal;
	src: url("/css/fonts/FuturaDemiC.ttf") format("truetype"); 
}