@font-face {
	font-family: "Aeroport";
	font-weight: bold;
	font-style: normal;
	src: url("D:/Новая папка/Opikal/css/fonts/AEROPORT-BOLD.TTF") format("truetype"); 
}

@font-face {
	font-family: "Aeroport";
	font-weight: bold;
	font-style: italic;
	src: url("D:/Новая папка/Opikal/css/fonts/AEROPORT-BOLDITALIC.TTF") format("truetype"); 
}

@font-face {
	font-family: "Aeroport";
	font-weight: medium;
	font-style: normal;
	src: url("D:/Новая папка/Opikal/css/fonts/AEROPORT-MEDIUM.TTF") format("truetype"); 
}

@font-face {
	font-family: "Aeroport";
	font-weight: 400;
	font-style: normal;
	src: url("D:/Новая папка/Opikal/css/fonts/AEROPORT.TTF") format("truetype"); 
}

@font-face {
	font-family: "Aeroport";
	font-weight: 300;
	font-style: normal;
	src: url("D:/Новая папка/Opikal/css/fonts/AEROPORT.TTF") format("truetype"); 
}