$font: "FuturaBookC";
$red: #ff0000;
.registration-form{
    padding-left: 70px;
    padding-right: 70px;
}
.modal{
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    overflow: auto;
    background: rgba(0,0,0,0.9);
    display: none;
    z-index: 99;
    &-content{
        display: none;
        &__row{
            display: flex;
            justify-content: space-between;
            width: 100%;
            margin: 40px 0 35px 0;
        }
        &__box{
            width: 49%;
        }
        &__inputs{
            position: relative;
        }
        &__btn{
            margin: 0 auto;
            width: 240px;
            &-style{
                border-width: 1px;
                border-color: rgb(0, 0, 0);
                border-style: solid;
                background: $red;
                width: 100%;
                height: 42px;
                font-size: 17px;
                color: rgb(255, 255, 255);
                font-weight: bold;
                font-family: $font;
                line-height: 1.65;
                display: block;
                padding: 8px 26px;
                letter-spacing: 0.4px;
                cursor: pointer;
            }
            &-login{
                align-items: center;
                display: flex;
                flex-direction: column;
                margin: 25px auto;
            }
        }
    }
    &__row{
        display: flex;
        align-items: center;
        justify-content: flex-end;
        margin-bottom: 40px;
    }
    &__container{
        margin: 5vh auto 4vh auto;
        width: 820px;
        height: auto;
        background: #fff;
        box-sizing: border-box;
        padding: 20px;
        position: relative;
    }
    &__close{
        position: relative;
        height: 16px;
        width: 68px;
        cursor: pointer;
        &_1, &_2{
            position: absolute;
            top: 3px;
            right: 0;
            width: 20px;
            height: 3px;
            background: #141419;
        }
        &_1{
            transform: rotate(45deg);
        }
        &_2{
            transform: rotate(-45deg);
        }
        p{
            display: block;
            padding-right: 20px;
            font-family: "FuturaBookC";
            font-size: 10px;
            color: rgb(20, 20, 25);
            text-transform: uppercase;
            line-height: 1.2;
        }
    }
    &__subtitle{
        font-size: 15px;
        color: rgb(0, 0, 0);
        font-family: "FuturaBookC";
        line-height: 1.2;
        width: 100%;
        text-align: center;
        margin-top: 40px;
        margin-bottom: 15px;
        span{
            text-transform: uppercase;
        }
    }
    &__title{
        font-size: 35px;
        font-family: "FuturaBookC";
        color: rgb(20, 20, 25);
        font-weight: bold;
        line-height: 1.001;
        width: 100%;
        text-align: center;
    }
    &__link{
        width: auto;
        font-size: 16px;
        font-weight: 300;
        text-decoration: underline;
        color: $red;
    }
    &__text{
        margin-top: 30px;
        font-size: 16px;
        font-weight: 500;
        color: rgb(166, 166, 167);
        width: 100%;
        text-align: center;
        span{
            color: $red;
        }
    }
}

.input{
    background: none;
    border: none;
    border-bottom: 2px solid #141419;
    width: 100%;
    height: 34px;
    margin-top: 30px;
    font-family: inherit;
    font-size: 18px;
    font-weight: normal;
    font-family: $font;
    color: rgb(20, 20, 25);
    appearance: none;
    border-radius: 0;
    box-shadow: none;
    line-height: normal;
    letter-spacing: normal;
    outline: 0;
}
  
.placeholder{
    position: absolute;
    top: 27px;
    left: 0;
    font-size: 18px;
    font-family: $font;
    color: rgba(20, 20, 25, 0.302);
    transition: all 0.15s ease-out;
    pointer-events: none;
    background: none;
    span{
        color: $red;
    }
}

.textarea{
    margin-top: 0;
    padding-top: 30px;
    padding-left: 18px;
    height: 100px;
    background: #f2f2f2;
    border: 0;
    font-family: inherit;
    font-size: 18px;
    font-weight: normal;
    font-family: $font;
    color: rgb(20, 20, 25);
    appearance: none;
    border-radius: 0;
    box-shadow: none;
    line-height: normal;
    letter-spacing: normal;
    outline: 0;
    &-placeholder{
        position: absolute;
        left: 18px;
        top: 66px;
        font-size: 18px;
        font-family: $font;
        color: rgba(20, 20, 25, 0.302);
        font-weight: bold;
        transition: all 0.15s ease-out;
        pointer-events: none;
        span{
            color: $red;
        }
    }
}

.agreement{
    margin-bottom: 30px;
    label{
        font-size: 16px;
        font-weight: 500;
        color: rgb(166, 166, 167);
    }
}  
  

@media all and (min-width: 641px) and (max-width: 855px){
    .modal{
        &__container{
            width: 95%;
            height: auto;
        }
    }
}

@media all and (min-width: 0) and (max-width: 730px){
    .modal{
        &__container{
            margin: 0;
            width: 100%;
            height: auto;
        }
        &__row{
            margin-bottom: 20px;
        }
        &__subtitle{
            margin: 0 0 5px 0;
        }
        &__link {
            font-size: 22px;
        }
        &-content{
            &__row {
                flex-direction: column;
                width: 100%;
                margin: 30px auto 30px auto;
            }
            &__box{
                width: 100%;
            }
            &__inputs {
                margin-bottom: 10px;
            }
            &__btn-login {
                margin: 15px auto;
            }
        }
        &__text{
            margin-top: 0;
        }
    }
    .registration-form {
        padding-left: 20px;
        padding-right: 20px;
    }
    .agreement label {
        font-size: 22px;
    }
    .placeholder{
        font-size: 22px;
    }
    .textarea-placeholder{
        font-size: 22px;
    }
    .input{
        height: 44px;
    }
    .textarea{
        height: 150px;
        &-placeholder{
            top: 115px;
        }
    }
}

@media all and (min-width: 0) and (max-width: 399px){
    .modal__title {
        font-size: 27px;
    }
}

.placeholder-act{
    font-size: 14px;
    top: 10px;
}