.place-app__content p, 
.step {
    font-size: 18px;
}
.place__title {
    font-size: 26px;
    font-family: "FuturaBookDemiC";
    color: rgb(20, 20, 25);
    text-transform: uppercase;
    line-height: 1.2;
    text-align: left;
}
.place-bg {
    border-top: 1px solid rgb(225, 225, 225);
    background: url(/images/application-bg.jpg) 100% 100% no-repeat;
    background-position: top;
    max-width: 1600px;
    margin: 0 auto;
}
.place_left {
    display: block;
    order: 1;
}
.place_right {
    display: none;
    order: 2;
}
.place_right.act{
    display: block;
}
.place__clear {
    clear: both;
    padding: 50px 0;
}
.place-app {
    padding: 65px 0 0 0;
    min-height: 880px;
    height: auto;
}
.place-app__title {
    font-family: "FuturaBookDemiC";
    font-weight: 600;
    font-size: 66px;
    color: #000;
    padding: 55px 0;
}
.place-app__content {
    padding-top: 15px;
}

.form__steps {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding-bottom: 80px;
}

.step {
    padding: 20px 15px 20px 26px;
    background-color: #fff;
    border: 1px solid #c2c2c2;
    border-left: 0;
    color: #000;
    position: relative;
}

/* .step::after{
content: "";
position: absolute;
border: solid #c2c2c2;
left: 100%;
top: 48%;
border-left-color: white;
border-color: transparent transparent transparent #fff;
border-width: 30px 0 30px 15px;
margin-top: -29px;
z-index: 2;
} */
.step:first-child {
    border-left: 1px solid #c2c2c2;
    padding-left: 15px;
}
.step.active {
    background-color: #000;
    border: 1px solid #000;
    color: #fff;
}
/* .step.active::after{
content: "";
position: absolute;
border: solid transparent;
left: 100%;
top: 48%;
border-left-color: black;
border-color: transparent transparent transparent #000;
border-width: 30px 0 30px 15px;
margin-top: -29px;
z-index: 2;
} */

.step.active .step::after {
    border-color: transparent transparent transparent #000;
}
.step:after {
    content: "";
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 30px 0 30px 13px;
    border-color: transparent transparent transparent #fff;
    position: absolute;
    right: -14px;
    top: 0;
    z-index: 2;
}

/* Style the form */
/* Style the input fields */
input {
    padding: 10px 0;
    height: 50px;
    width: 100%;
    font-size: 18px;
    border: none;
}

/* Mark input boxes that gets an error on validation: */
input.invalid {
    background-color: #ffdddd;
}

/* Hide all steps by default: */
.tab {
    display: none;
    justify-content: space-between;
    position: relative;
}

/* Mark the active step: */
.step.active {
    opacity: 1;
}

/* Mark the steps that are finished and valid: */
.step.finish {
    background-color: #4CAF50;
}
/* .place-select {
height: 50px;
width: 440px;
} */

/* option p {
    display: block;
width: 100%;
height: 50px;
padding: 15px 0;
} */


* {
    box-sizing: border-box;
}

h1 {
    display: flex;
    justify-content: center;
}

.__select__category,
.__select__equipment,
.__select__status,
.__select__aim,
.country__select {
    position: relative;
    height: 50px;
    width: 440px;
    margin-bottom: 60px;
}
.__select__equipment {
    display: none;
}
.__select__equipment.act {
    display: block;
    margin-bottom: 35px;
}
/* .__select[data-state="active"] .__select__title::before {
transform: translate(-3px, -50%) rotate(-45deg);
}
.__select[data-state="active"] .__select__title::after {
transform: translate(3px, -50%) rotate(45deg);
} */
.__select__category[data-state="active"] .__select__content,
.__select__equipment[data-state="active"] .__select__content,
.__select__status[data-state="active"] .__select__content,
.__select__aim[data-state="active"] .__select__content,
.country__select[data-state="active"] .__select__content {
    opacity: 1;
    display: flex;
    border: 2px solid black;
}
.__select__category[data-state="active"] .__select__label + .__select__input + .__select__label,
.__select__equipment[data-state="active"] .__select__label + .__select__input + .__select__label,
.__select__status[data-state="active"] .__select__label + .__select__input + .__select__label,
.__select__aim[data-state="active"] .__select__label + .__select__input + .__select__label,
.country__select[data-state="active"] .__select__label + .__select__input + .__select__label  {
    max-height: 50px;
    border-top-width: 1px;
}
.__select__aim {
    width: 630px;
}
.__select__title,
input.__select__title {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    min-height: 50px;
    border-bottom: solid 2px black;
    cursor: pointer;
}
.__select__title.invalid {
    border-bottom: solid 2px #ff0000;
}
.__select__title.invalid:after {
    content: "выберите категорию";
    display: block;
    top: 100%;
    left: 66%;
    width: 150px;
    position: absolute;
    background-color: red;
    text-align: center;
    color: white;
    font-size: 15px;
}
.textChosen.inact {
    color: #b7b7b7;
}
.textChosen.act {
    color: black;
}
.__select__category .textChosen.inact:after {
    content: "*";
    color: #ff0000;
}
.__select__arrow {
    position: absolute;
    top: 20px;
    right: 10px;
    width: 0;
    height: 0;
    border-top: 8px solid #000;
    border-right: 10px solid transparent;
    border-left: 10px solid transparent;
    transition: all 0.3s ease-out;
}
.__select__arrow.act {
    transform: rotate(-180deg);
}

/* 
.necessarily, 
.__select__title:hover {
border-color: #d8093a;
}
.__select__title:hover::before, .__select__title:hover::after {
background-color: #d8093a;
} */


.__select__content {
    position: absolute;
    top: 40px;
    display: none;
    flex-direction: column;
    width: 100%;
    background-color: #ffffff;
    border: 1px solid #c7ccd1;
    border-top: none;
    transition: all 0.3s ease-out;
    opacity: 0;
    z-index: 8;
}

.__select__input {
    display: none;
}
.__select__input:checked + label {
    background-color: #dedede;
}
.__select__input:disabled + label {
    opacity: 0.6;
    pointer-events: none;
}

.__select__label {
    display: flex;
    align-items: center;
    width: 100%;
    height: 40px;
    /* max-height: 0; */
    padding: 0 25px;
    transition: all 0.2s ease-out;
    cursor: pointer;
    overflow: hidden;
    color: black;
}
.__select__label + input + .__select__label {
    border-top: 0 solid #c7ccd160;
}
.__select__label:hover {
    background-color: #ff0000 !important;
    color: #ffffff;
}
.place-form__button {
    padding-top: 0px;
}
.place-form__button button,
.place__contacts button,
.option__btn {
    width: 200px;
    height: 45px;
    font-size: 18px;
    font-weight: 500;
    line-height: 28px;
}
#nextBtn,
.option__btn {
    border: 1px solid black;
    background-color: #ff0000;
    color: white;
}
#prevBtn {
    border: 2px solid black;
    background-color: white;
    color: black;
    margin-right: 30px;
}
#addContact {
    border: 2px solid black;
    background-color: black;
    color: white;
    margin-right: 30px;
}
.tab1 .place__alert {
    max-width: 690px;
    display: block;
}
.tab3 .place__alert {
    max-width: 490px;
    display: block;
}
.__alert__title {
    padding-bottom: 20px;
}
.__alert__title p {
    font-size: 18px;
    font-weight: bold;
}
.__alert__title p:before {
    content: '';
    background: url(/images/attention.png) no-repeat;
    background-size: contain;
    padding-right: 40px;
}
.__alert__message > p > a {
    color: #ff0000;
    text-decoration: underline;
}
.__select__checkbox {
    width: 100%;
    height: 30px;
    display: none;
}
.__select__checkbox.act {
    display: flex;
    margin-bottom: 30px;
}
.place__row {
    width: 50%;
    display: flex;
    position: relative;
}
.__checkbox__label {
    color: #b7b7b7;
    position: absolute;
    left: 30px;
}

.place__row input[type=checkbox]{
    display:none;
}
.place__row input[type=checkbox] + label:before{
    content: "";
    display: inline-block;
    width: 18px;
    height: 18px;
    border: 2px solid #000;
    margin-right: 15px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100%;
    top: 0px;
    left: -30px;
    position: absolute;
} 
.place__row input[type=checkbox]:checked + label:before{
    background-color: #fff;
    background-image: url(../../images/check.png);
} 

.place__attention {
    width: 100%;
}
.place__attention p.attention_red,
.__select__status {
    width: 490px;
}
.attention_red {
    color: red;
}
.tab2 {
    flex-direction: column;
}
p > input.__select__title {
    margin: 30px 0 60px;
}
.tab3 p > input.__select__title {
    width: 190%;
}

.place__attention.hide {
    display: none;
}
.place__attention.act {
    display: block;
}
.tab4 {
    flex-wrap: wrap;
}
.place__addresss {
    width: 100%;
    padding-bottom: 60px;
}
.contacts__block {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 50px;
}
.contacts__row {
    width: 48%;
}
.contacts__row .row__title,
.contacts__row .row__input {
    width: 100%;
}

.address__row {
    display: flex;
    justify-content: space-between;
    height: 50px;
    margin-bottom: 20px;
}
.country__select {
    width: 35%;
}
.country__input {
    width: 60%;
}
.country__input.hide {
    display: none;
}
.country__input.act {
    display: block;
}
.notice__message {
    width: 100%;
    margin-top: 40px;
}
.notice__message > p {
    color: red;
    font-size: 20px;
}
.row__title {
    padding: 15px 0;
    text-align: left;
    width: 25%;
}
.row__title p{
    color: #111111;
    font-size: 22px;
    font-weight: 500;
}
p.duties {
    color: transparent;
}
.row__input {
    width: 70%;
    display: flex;
    justify-content: space-between;
}
.country__input > p > input.__select__title,
.row__input > p > input.__select__title {
    margin: 0;
    background-color: transparent;
}
.place__contacts {
    width: 100%;
    background-color: #eeeeee;
    padding: 50px 0 60px;
    min-width: 1600px;
    position: inherit;
    left: -208px;
}
.place__contacts_dop {
    border-top: 4px solid white;
}
/* .tab4:has( > .place__contacts_dop ) + .tab +  .place__clear{
    display: none;
} */
.place__contacts_dop::parent +   .place__clear{
    display: none;
}
.row__input p {
    width: 100%;
}
.place__notice {
    padding: 50px 0;
    display: none;
}
.place__notice.act {
    display: block;
}
.notice__req {
    color: #b7b7b7;
    font-size: 14px;
}
.notice__req::before{
    content: "*  ";
    color: #ff0000;
}
.place__task {
    display: flex;
    flex-wrap: wrap;
}
.task__block {
    width: 100%;
}
.task__row {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding-bottom: 55px;
    justify-content: space-between;
}
.row__input .place__title {
    padding-bottom: 10px;
}
.task__row .row__input {
    width: 100%;
    flex-wrap: wrap;
}
.task__option {
    width: 575px;
    height: 105px;
    border: 1px #b6b6b6 solid;
    display: flex;
    justify-content: space-between;
    padding: 30px;
}
.task__option p {
    font-size: 25px;
    color: rgb(0, 0, 0);
    font-weight: bold;
    line-height: 1;
    text-align: left;
    padding: 6px 0;
}
.option__btn {
    width: 200px;
    height: 40px;

}

@media all and (min-width: 980px) and (max-width: 1224px) {
    .place__alert {
        padding-left: 50px;
    }
}

@media all and (min-width: 0px) and (max-width: 980px) {
    .tab {
        flex-wrap: wrap;
    }
    .place_left {
        order: 2;
    }
    .place_right {
        order: 1;
    }
    .place__alert {
        padding-left: 0;
        padding-bottom: 50px;
    }
}
