.steps {
    padding: 0;
    overflow: hidden;
    height: 50px;
}
.steps a {
    color: white;
    text-decoration: none;
}

.steps li {
    float: left;
    margin-left: 0;
    width: auto;
    height: 50px;
    list-style-type: none;
    padding: 14px 20px 14px 30px; /* padding around text, last should include arrow width */
    border-right: 3px solid white; /* width: gap between arrows, color: background of document */
    position: relative;
}
/* remove extra padding on the first object since it doesn't have an arrow to the left */
.steps li:first-child {
    padding-left: 15px;
}
/* white arrow to the left to "erase" background (starting from the 2nd object) */
.steps li:nth-child(n+2)::before {
    position: absolute;
    top:0;
    left:0;
    display: block;
    border-left: 15px solid white; /* width: arrow width, color: background of document */
    border-top: 25px solid transparent; /* width: half height */
    border-bottom: 25px solid transparent; /* width: half height */
    width: 0;
    height: 0;
    content: " ";
}
/* colored arrow to the right */
.steps li::after {
    z-index: 1; /* need to bring this above the next item */
    position: absolute;
    top: 0;
    right: -15px; /* arrow width (negated) */
    display: block;
    border-left: 15px solid black; /* width: arrow width */
    border-top: 25px solid transparent; /* width: half height */
    border-bottom: 25px solid transparent; /* width: half height */
    width:0;
    height:0;
    content: " ";
}

/* Setup colors (both the background and the arrow) */

/* Completed */
.steps li { background-color: black; }
.steps li::after { border-left-color: black; }

/* Current */
.steps li.active { background-color: black; }
.steps li.active::after { border-left-color: black; }

/* Following */
.steps li.active ~ li { background-color: #EBEBEB; }
.steps li.active ~ li::after { border-left-color: #EBEBEB; }

.steps li.active ~ li a { color: #000; }

/* Hover for completed and active
.steps li:hover {background-color: #696}
.steps li:hover::after {border-left-color: #696} */
/* css for steps ~ from css-tricks.com/triangle-breadcrumbs */

.place-app__content p, 
.step {
    font-size: 18px;
}
.place__title {
    font-size: 26px;
    font-family: "FuturaBookDemiC";
    color: rgb(20, 20, 25);
    text-transform: uppercase;
    line-height: 1.2;
    text-align: left;    
    width: 100%;
}
.place-bg {
    border-top: 1px solid rgb(225, 225, 225);
    background: url(/images/application-bg.jpg) 100% 100% no-repeat;
    background-position: top;
    max-width: 1600px;
    margin: 0 auto;
}
.place_left {
    display: block;
    order: 1;
}
.place_right {
    display: none;
    order: 2;
}
.place_right.act{
    display: block;
}
.place__clear {
    clear: both;
    padding: 50px 0;
}
.place-app {
    padding: 65px 0 0 0;
    min-height: 880px;
    height: auto;
}
.place-app__title {
    font-family: "FuturaBookDemiC";
    font-weight: 600;
    font-size: 66px;
    color: #000;
    padding: 55px 0;
}
.place-app__content {
    padding-top: 15px;
}

.form__steps {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding-bottom: 80px;
}

/* Style the form */
/* Style the input fields */
input {
    padding: 10px 0;
    height: 50px;
    width: 100%;
    font-size: 18px;
    border: none;
}

/* Mark input boxes that gets an error on validation: */
input.invalid {
    background-color: #ffdddd;
}

/* Hide all steps by default: */
.tab {
    display: none;
    justify-content: space-between;
    position: relative;
}

* {
    box-sizing: border-box;
}

h1 {
    display: flex;
    justify-content: center;
}

.__select__category,
.__select__equipment,
.__select__status,
.__select__aim,
.country__select {
    position: relative;
    height: 50px;
    width: 440px;
    margin-bottom: 60px;
}
.__select__equipment {
    display: none;
}
.__select__equipment.act {
    display: block;
    margin-bottom: 35px;
}
/* .__select[data-state="active"] .__select__title::before {
transform: translate(-3px, -50%) rotate(-45deg);
}
.__select[data-state="active"] .__select__title::after {
transform: translate(3px, -50%) rotate(45deg);
} */
.__select__category[data-state="active"] .__select__content,
.__select__equipment[data-state="active"] .__select__content,
.__select__status[data-state="active"] .__select__content,
.__select__aim[data-state="active"] .__select__content,
.country__select[data-state="active"] .__select__content {
    opacity: 1;
    display: flex;
    border: 2px solid black;
}
.__select__category[data-state="active"] .__select__label + .__select__input + .__select__label,
.__select__equipment[data-state="active"] .__select__label + .__select__input + .__select__label,
.__select__status[data-state="active"] .__select__label + .__select__input + .__select__label,
.__select__aim[data-state="active"] .__select__label + .__select__input + .__select__label,
.country__select[data-state="active"] .__select__label + .__select__input + .__select__label  {
    max-height: 50px;
    border-top-width: 1px;
}
.__select__aim {
    width: 630px;
}
.__select__title,
input.__select__title {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    min-height: 50px;
    border-bottom: solid 2px black;
    cursor: pointer;
}
.__select__title.invalid {
    border-bottom: solid 2px #ff0000;
}
.__select__title.invalid:after {
    content: "выберите категорию";
    display: block;
    top: 100%;
    left: 66%;
    width: 150px;
    position: absolute;
    background-color: red;
    text-align: center;
    color: white;
    font-size: 15px;
}
.textChosen.inact {
    color: #b7b7b7;
}
.textChosen.act {
    color: black;
}
.__select__category .textChosen.inact:after {
    content: "*";
    color: #ff0000;
}
.__select__arrow {
    position: absolute;
    top: 20px;
    right: 10px;
    width: 0;
    height: 0;
    border-top: 8px solid #000;
    border-right: 10px solid transparent;
    border-left: 10px solid transparent;
    transition: all 0.3s ease-out;
}
.__select__arrow.act {
    transform: rotate(-180deg);
}

/* 
.necessarily, 
.__select__title:hover {
border-color: #d8093a;
}
.__select__title:hover::before, .__select__title:hover::after {
background-color: #d8093a;
} */


.__select__content {
    position: absolute;
    top: 40px;
    display: none;
    flex-direction: column;
    width: 100%;
    background-color: #ffffff;
    border: 1px solid #c7ccd1;
    border-top: none;
    transition: all 0.3s ease-out;
    opacity: 0;
    z-index: 8;
}

.__select__input {
    display: none;
}
.__select__input:checked + label {
    background-color: #dedede;
}
.__select__input:disabled + label {
    opacity: 0.6;
    pointer-events: none;
}

.__select__label {
    display: flex;
    align-items: center;
    width: 100%;
    height: 40px;
    /* max-height: 0; */
    padding: 0 25px;
    transition: all 0.2s ease-out;
    cursor: pointer;
    overflow: hidden;
    color: black;
}
.__select__label + input + .__select__label {
    border-top: 0 solid #c7ccd160;
}
.__select__label:hover {
    background-color: #ff0000 !important;
    color: #ffffff;
}
.place-form__button {
    padding-top: 0px;
}
.place-form__button button,
.place__contacts button,
.option__btn {
    width: 200px;
    height: 45px;
    font-size: 18px;
    font-weight: 500;
    line-height: 28px;
    cursor: pointer;

}
#nextBtn,
.option__btn {
    border: 1px solid black;
    background-color: #ff0000;
    color: white;
}
#nextBtn:hover,
.option__btn:hover,
.poll__action button:hover {
    border: 2px solid  #ff0000;
    background-color: white;
    color:  #ff0000;
}
#prevBtn {
    border: 2px solid black;
    background-color: white;
    color: black;
    margin-right: 30px;
}
#prevBtn:hover {
    background-color: black;
    color: white;
}
#addContact {
    border: 2px solid black;
    background-color: black;
    color: white;
    margin-right: 30px;
}
#addContact:hover {
    background-color: white;
    color: black;
}
.tab1 .place__alert {
    max-width: 690px;
    display: block;
}
.tab3 .place__alert {
    max-width: 490px;
    display: block;
}
.popup {
    width: 490px;
    height: 150px;
    background-color: white;
    box-shadow: 0px 8px 20px 2px grey;
    padding: 30px;
    float: right;
    display: none;
    position: fixed;
    bottom: 15px;
    right: 385px;
}
.popup .place__alert {
    width: 100%;
    height: 100%;
}
.close {
    position: absolute;
    right: 20px;
    top: 20px;
    width: 25px;
    height: 25px;
    opacity: 0.3;
}
.close:hover {
    opacity: 1;
}
.close:before, .close:after {
    position: absolute;
    left: 15px;
    content: ' ';
    height: 25px;
    width: 2px;
    background-color: #333;
}
.close:before {
    transform: rotate(45deg);
}
.close:after {
    transform: rotate(-45deg);
}
.__alert__title {
    padding-bottom: 20px;
}
.__alert__title p {
    font-size: 18px;
    font-weight: bold;
}
.__alert__title p:before {
    content: '';
    background: url(/images/attention.png) no-repeat;
    background-size: contain;
    padding-right: 40px;
}
.__alert__message > p > a {
    color: #ff0000;
    text-decoration: underline;
}
.__select__checkbox {
    width: 100%;
    height: 30px;
    display: none;
}
.__select__checkbox.act {
    display: flex;
    margin-bottom: 30px;
}
.place__row {
    width: 50%;
    display: flex;
    position: relative;
}
.__checkbox__label {
    color: #b7b7b7;
    position: absolute;
    left: 30px;
}

.place__row input[type=checkbox]{
    display:none;
}
.place__row input[type=checkbox] + label:before{
    content: "";
    display: inline-block;
    width: 18px;
    height: 18px;
    border: 2px solid #000;
    margin-right: 15px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100%;
    top: 0px;
    left: -30px;
    position: absolute;
} 
.place__row input[type=checkbox]:checked + label:before{
    background-color: #fff;
    background-image: url(../../images/check.png);
} 

.place__attention {
    width: 100%;
}
.place__attention p.attention_red,
.__select__status {
    width: 490px;
}
.attention_red {
    color: red;
}
.tab2 {
    flex-direction: column;
}
p > input.__select__title {
    margin: 30px 0 60px;
}
.tab3 p > input.__select__title {
    width: 190%;
}

.place__attention.hide {
    display: none;
}
.place__attention.act {
    display: block;
}
.tab4 {
    flex-wrap: wrap;
}
.place__addresss {
    width: 100%;
    padding-bottom: 60px;
}
.contacts__block {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 50px;
}
.contacts__row {
    width: 48%;
}
.contacts__row .row__title,
.contacts__row .row__input {
    width: 100%;
}

.address__row {
    display: flex;
    justify-content: space-between;
    height: 50px;
    margin-bottom: 20px;
}
.country__select {
    width: 35%;
}
.country__input {
    width: 60%;
}
.country__input.hide {
    display: none;
}
.country__input.act {
    display: block;
}
.notice__message {
    width: 100%;
    margin-top: 40px;
}
.notice__message > p {
    color: red;
    font-size: 20px;
}
.row__title {
    padding: 15px 0;
    text-align: left;
    width: 25%;
}
.row__title p{
    color: #111111;
    font-size: 22px;
    font-weight: 500;
}
p.duties {
    color: transparent;
}
.row__input {
    width: 70%;
    display: flex;
    justify-content: space-between;
}
.country__input > p > input.__select__title,
.row__input > p > input.__select__title {
    margin: 0;
    background-color: transparent;
}
.place__contacts {
    width: 100%;
    background-color: #eeeeee;
    padding: 50px 0 60px;
    min-width: 1600px;
    position: inherit;
    left: -208px;
}
.place__contacts_dop {
    border-top: 4px solid white;
}
#place__contacts_dop {
    display: none;
}
.row__input p {
    width: 100%;
}
.place__notice {
    padding: 50px 0;
    display: none;
}
.place__notice.act {
    display: block;
}
.notice__req {
    color: #b7b7b7;
    font-size: 14px;
}
.notice__req::before{
    content: "*  ";
    color: #ff0000;
}
.place__task {
    display: flex;
    flex-wrap: wrap;
}
.task__block {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.task__row {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding-bottom: 55px;
    justify-content: space-between;
}
.row__input .place__title {
    padding-bottom: 10px;
}
.task__row .row__input {
    width: 100%;
    flex-wrap: wrap;
}
.task__option {
    width: 575px;
    height: 105px;
    border: 1px #b6b6b6 solid;
    display: flex;
    justify-content: space-between;
    padding: 30px;
    transition: transform .15s;
}
.task__option.act {
    border: 2px black solid;
}
.task__option:hover {
    border: 2px black solid;
    transform: scale(1.01);
    transition: transform .15s;
}
.task__option p {
    font-size: 25px;
    color: rgb(0, 0, 0);
    font-weight: bold;
    line-height: 1;
    text-align: left;
    padding: 6px 0;
}
.option__btn {
    width: 200px;
    height: 40px;
    cursor: pointer;
}
#tech-as-on, 
#tech-as-off {
    display: none;
}
.poll_btn {
    width: 300px;
}
.task__block .profile__upload {
    width: 100%;
}
.task__block .upload-doc {
    width: 100%;
    padding-bottom: 55px;
}
.task__poll {
    width: 31%;
    height: fit-content;
    background-color: white;
    border: 1px solid #b7b7b7;
    position: relative;
    transition: transform .15s;
}
.task__poll:hover{
    cursor: pointer;
    box-shadow: 0px 8px 20px 2px grey;
    transform: scale(1.01);
    transition: transform .15s;

}
.poll__head {
    background-color: black;
    color: white;
    width: 100%;
    height: 55px;
    text-align: center;
}
.poll__title {
    font-size: 24px !important;
    padding: 12px 0;
}
.poll__point {
    padding: 40px 25px 10px;
}
.poll__check li {
    padding-left: 25px;
    list-style-image: none;
    background: url(/images/check.png) no-repeat;
    padding-bottom: 10px;
    font-size: 18px;
}

.poll__action {
    height: 120px;
    width: 100%;
    padding: 45px 14% 30px;

}
.poll__action button {
    border: 2px solid black;
    width: 100%;
    height: 40px;
    background-color: red;
    color: white;
    font-size: 18px;
    cursor: pointer;
}

@media all and (min-width: 980px) and (max-width: 1224px) {
    .place__alert {
        padding-left: 50px;
    }
}

@media all and (min-width: 0px) and (max-width: 980px) {
    .tab {
        flex-wrap: wrap;
    }
    .place_left {
        order: 2;
    }
    .place_right {
        order: 1;
    }
    .place__alert {
        padding-left: 0;
        padding-bottom: 50px;
    }
}
