$font: "FuturaBookC";
$red: #ff0000;

%input-reset{
    background: none;
    border: none;
    appearance: none;
    border-radius: 0;
    box-shadow: none;
    line-height: normal;
    letter-spacing: normal;
    outline: 0;
}

.account{
    position: relative;
    width: 100%;
    height: auto;
    padding-top: 50px;
    background-color: #fff;
    background-image: url(../../images/eq-bg.jpg);
    background-size: cover;
    background-position: right;
    &__row{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &__selection{
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 375px;
    }
    &__content{
        margin-top: 65px;
        display: flex;
        margin-bottom: 60px;
    }
    &__title{
        font-size: 66px;
        color: rgb(0, 0, 0);
        font-weight: bold;
        margin-top: 40px;
    }
    &__aside{
        width: 300px;
    }
    &__profile{
        margin-left: 70px;
        width: 100%;
    }
    &-menu{
        width: 100%;
        background-color: transparent;
        &__link{
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            border-bottom: 1px solid #111111;
            &__num, a{
                color: rgb(17, 17, 17);
                font-size: 20px; 
                font-weight: 500;
                display: block;
            }
            a{
                position: relative;
                width: 100%;
                display: flex;
                padding-top: 50px;
                padding-bottom: 30px;
                &:hover{
                    color: rgba(17, 17, 17, 0.7);
                }
                &:active{
                    color: #fff;
                    .account-menu__link{
                        padding-left: 30px;
                        background-color: #000;
                    }
                }
            }
            &:hover, &:focus{
                padding-left: 30px;
                background-color: #000;
                a{
                    color: #fff;
                }
                .account-menu__num{
                    right: 20px;
                }
            }
            &:first-child{
                border-top: 1px solid #111111;
            }
        }
        &__num{
            position: absolute;
            top: 50px;
            right: 0;
        }
    }
    &__rools{
        position: fixed;
        top: 425px;
        right: -108px;
        width: 253px;
        height: 53px;
        background-color: #f6f6f8;
        transform: rotate(-90deg);
        .line-1 {
            top: 23px;
            right: 45px;
        }
        .line-2 {
            top: 15px;
            right: 53px;
        }
    }
}

.profile{
    border: 1px solid #000000;
    padding: 33px 57px;
    width: 100%;
    background-color: #fff;
    border-top: 0;
    &:first-child{
        border-top: 1px solid #000000;
    }
    &__title{
        font-size: 27px;
        font-weight: 500;
        color: rgb(20, 20, 25);
        text-transform: uppercase;
        margin-bottom: 25px;
    }
    &__photo{
        display: flex;
        align-items: center;
        padding-bottom: 25px;
        border-bottom: 1px solid #efefef;
    }
    &__photo_img{
        margin-right: 45px;
        img{
            width: 100px;
            height: 100px;
            border-radius: 50%;
            overflow: hidden;
        }
    }
    &__label{
        font-size: 17px;
        font-family: $font;
        color: rgba(20, 20, 25, 0.302);
        font-weight: bold;
        text-transform: uppercase;
        margin-bottom: 5px;
    }
    &__item{
        width: 100%;
        border-bottom: 1px solid #efefef;
        padding-top: 39px;
        padding-bottom: 10px;
    }
    &__input{
        @extend %input-reset;
        font-size: 19px;
        font-weight: normal;
        font-family: $font;
        color: rgb(20, 20, 25);
        width: 100%;
        &_2{
            @extend %input-reset;
            width: calc(100% - 27%);
            height: 35px;
            font-size: 17px;
            font-weight: 400;
            border-bottom: 1px solid #111111;
            &::placeholder{
                font-size: 17px;
                font-weight: 300;
                color: rgba(20, 20, 25, 0.502);
            }
        }
    }
    &__upload{
        margin-top: 55px;
        margin-bottom: 50px;
        &-label{
            font-size: 25px;
            color: rgb(20, 20, 25);
            font-weight: 500;
        }
    }
    &__row{
        width: 100%;
        display: flex;
        align-items: center;
        margin-bottom: 30px;
        .profile__label{
            width: 27%;
        }
    }
    &__sub{
        width: 100%;
        background-color: #f1f1f1;
        margin-top: 57px;
        margin-bottom: 50px;
        padding: 30px 25px;
    }
    &__desc{
        margin: 50px 0;
    }
    &__textarea{
        @extend %input-reset;
        font-size: 19px;
        font-weight: normal;
        font-family: $font;
        color: rgb(20, 20, 25);
        width: 100%;
        height: 138px;
        border: 1px solid #000000;
        padding: 20px 20px 10px 20px;
        &::placeholder{
            font-size: 19px;
            color: rgba(20, 20, 25, 0.302);
            line-height: 1.286;
        }
    }
    &__submit{
        margin-top: 55px;
        a{
            margin-right: 19px;
        }
    }
}

.sub{
    &__list{
        &-item{
            margin-left: 28px;
            position: relative;
            font-size: 18px;
            color: rgb(0, 0, 0);
            line-height: 2.05;
        }
    }
    &__sub-list{
        padding-left: 28px;
    }
    &-item{
        font-size: 16px;
    }
    &__btn{
        position: relative;
        margin-top: 25px;
        width: fit-content;
        .line-1 {
            top: 21px;
            right: 17px;
        }
        .line-2 {
            top: 13px;
            right: 25px;
        }
    }
}

.delete{
    content: '';
    background-image: url(../../images/del.png);
    width: 18px;
    height: 18px;
    background-position: center;
    background-size: cover;
    position: absolute;
    top: 7px;
    left: -27px;
    cursor: pointer;
}

.input-upload_img, .input-upload_doc{
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.input-upload + label {
    position: relative;
    display: inline-block;
    height: 35px;
    padding: 8px 30px 8px 30px;
    background-color: #000;
    font-size: 16px;
    font-family: $font;
    color: rgb(255, 255, 255);
    p{
        font-size: 16px;
        font-family: $font;
        color: rgb(255, 255, 255);
        padding-left: 23px;
    }
    img{
        width: 17px;
        height: 15px;
        object-position: center;
        object-fit: cover;
        position: absolute;
        top: 10px;
        left: 24px;
    }
}
.input-upload:focus + label,
.input-upload + label:hover {
    background-color: $red;
    cursor: pointer;
}


.upload-doc{
    &__file{
        display: flex;
        align-items: center;
        font-size: 19px;
        font-family: $font;
        color: rgb(20, 20, 25);
        font-style: italic;
        font-weight: 300;
        margin-top: 28px;
        &-name{
            margin-left: 13px;
            font-size: 19px;
            font-family: $font;
            font-weight: 300;
            color: rgb(20, 20, 25);
            font-style: italic;
        }
    }
}