$red: #ff0000;
$lgr: #f3f3f3;
$grey: #f4f4f4;
$lbl: #141419;

$font: "FuturaBookC";
$font2: "FuturaBookDemiC";

%btn{
  cursor: pointer;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  font-family: $font2;
  font-size: 17px;
  font-weight: bold;
}

%input-reset{
  background: none;
  border: none;
  appearance: none;
  border-radius: 0;
  box-shadow: none;
  line-height: normal;
  letter-spacing: normal;
  outline: 0;
  font-weight: normal;
  font-family: $font;
  &:focus, &:active{
      outline: 0;
  }
}

%select-text{
  font-size: 18px;
  font-family: $font;
  color: rgb(20, 20, 25);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;
  font-family: $font;
}

body {
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

ul, li {
  list-style-type: none;
}

button{
  border-style: none;
  border-width: 0;
  outline: none;
  &:focus{
    outline: none;
  }
}

.container{
  max-width: 1215px;
  margin: 0 auto;
  padding: 0 15px;
}

.row{
  display: flex;
}


.btn{
  @extend %btn;
  border: 1px solid #000;
  color: #000;
  background-color: #fff;
  &:active, &:hover{
    color: #ffffff;
    background-color: #000;
  }
}



.btn{
  &-red{
    @extend %btn;
    border: 1px solid #000;
    color: #fff;
    background-color: $red;
    padding: 12px 30px;
  }
  &-black{
    @extend %btn;
    border: 2px solid #000;
    color: #000;
    background-color: #fff;
    padding: 10px 28px;
    &:hover{
      border: 2px solid #000;
      color: #fff;
      background-color: #000;
    }
    &_2{
      @extend %btn;
      border: 1px solid #000;
      color: #000;
      background-color: #fff;
      padding: 10px 50px;
      &:hover{
        border: 1px solid #000;
        color: #fff;
        background-color: #000;
      }
    }
  }
  &-white{
    @extend %btn;
    border: 2px solid #fff;
    color: #fff;
    background-color: transparent;
    padding: 8px 28px;
    &:hover{
      border: 2px solid $red;
      color: $red;
    }
  }
  &-filter{
    @extend %btn;
    border: 1px solid rgb(149, 149, 149);
    background-color: #fff;
    color: rgb(149, 149, 149);
    padding: 10px;
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 11px;
    font-size: 16px;
    &:hover{
      border: 1px solid #000;
      color: #fff;
      background-color: #000;
    }
  }
  &-search{
    @extend %btn;
    border: 1px solid #000;
    color: #fff;
    background-color: $red;
    padding: 8px 50px;
    margin-left: 25px;
  }
}

.red{
  border: 1px solid transparent;
  &:hover{
    border: 1px solid #000;
    background-color: #eb0000;
    color: #fff;
  }
}

.btn-black-active{
  border: 1px solid #000;
  color: #fff;
  background-color: #000;
}

.btn-add{
  @extend %btn;
      border: 1px solid #000;
    color: #fff;
    background-color: #000;
    font-family: "FuturaBookDemiC";
    font-size: 17px;
    font-weight: bold;
    padding: 10px 60px 10px 25px;
  &:active, &:hover{
    color: #000;
    background-color: #fff;
  }
}

.rools{
  position: absolute;
  top: 55%;
  right: -73px;
  width: 188px;
  height: 42px;
  background-color: #f6f6f8;
  border: 1px solid #f6f6f8;
  transform: rotate(-90deg);
  a{
    font-size: 16px;
    font-family: $font2;
    color: rgb(0, 0, 0);
    line-height: 1.4;
    display: block;
    padding: 10px 20px;
  }
  &:hover{
    background-color: transparent;
    border: 1px solid $red;
    a{
      color: $red;
    }
  }
  .line-1{
    top: 20px;
    right: 20px;
  }
  .line-2{
    top: 12px;
    right: 28px;
  }
}

.label{
  font-size: 17px;
  font-family: $font2;
  color: rgba(20, 20, 25, 0.302);
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 5px;
}

.notification{
  font-size: 11px;
  font-family: $font2;
  color: rgb(255, 0, 0);
  text-transform: uppercase;
  position: absolute;
  top: 50px;
  right: -6px;
  cursor: pointer;
}

input[type='search']::-webkit-search-decoration, 
input[type='search']::-webkit-search-cancel-button, 
input[type='search']::-webkit-search-results-button, 
input[type='search']::-webkit-search-results-decoration {
  display: none;
}

@import 'breadcrumbs';

@import 'nav';

@import 'main';

@import 'burger';

@import 'modal';

@import 'profile';

@import 'offers';

@import 'applications';

@import 'footer';
