.tech-com__title {
    font-size: 42px;
    padding-bottom: 30px;
}
.tech-com__content {
    padding-top: 30px;
}
.tab_row, 
.tab_row h2 {
    width: 100%;
}
.tab_row {
    padding: 30px 0;
    border-bottom: 1px solid #80808080;
}
.tab_row:first-child {
    padding-top: 0;
}
.tab_row .poisk {
    width: 600px;
    display: flex;
}
.active .tab_row__item_title {
    color: red;
}
.active .tab_row__item_title::after {
    content: '(вы подписаны на эту категорию)';
    color: black;
    font-size: 16px;
    margin-left: 5px;
    opacity: 0.7;
    font-weight: 200;
}
.tab_row__item .row {
    justify-content: space-between;
}
.tab_row__item_button {
    background: url(/images/arrow_red.png);
    width: 40px;
    height: 40px;
    cursor: pointer;
    transition: all 0.3s ease-out;


}
.active .tab_row__item_button {
    width: 40px;
    height: 40px;
    background: url(/images/arrow_red.png);
    cursor: pointer;
    transform: rotate(180deg);

}
.tab_row .search-form__input {
    width: 450px;
}
.tab_row .btn-search {
    width: 150px;
    margin-left: 0;
}
.apply__steps {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding-bottom: 50px;
    height: fit-content;
}
.tab_row h2  {
    padding-bottom: 20px;
}
.tab_row__options {
    position: relative;
    padding-top: 25px;
    display: none;
}
.tab_row__item.active .tab_row__options {
    display: block;
}
.tab_row__options .place__row {
    width: 30%;
    height: 40px;
    padding-bottom: 20px;

}
.tab_row__options .place__row:last-child {
    padding-bottom: 0;

} 
.place__row input[type=checkbox] {
    display: none;
}
.place__row input[type=checkbox] + label:before{
    content: "";
    display: inline-block;
    width: 18px;
    height: 18px;
    border: 2px solid #000;
    margin-right: 15px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100%;
    top: 0px;
    left: -30px;
    position: absolute;
} 
.place__row input[type=checkbox]:checked + label:after{
    background-image: url(../images/check.png);
    content: "";
    display: inline-block;
    width: 18px;
    height: 18px;
    position: absolute;
    left: -27px;
    top: -3px;
}
.account__rools {
    top: 500px;
    right: -112px;
    width: 265px;
}
.sidebar__info {
    position: fixed;
    top: 200px;
    right: -3px;
    width: 150px;
    height: 43px;
    background-color: transparent;
}
.sidebar__info a {
    cursor: pointer;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    font-family: "FuturaBookDemiC";
    font-size: 17px;
    font-weight: bold;
    border-bottom: 1px solid white;
}
.sidebar__info a:hover {
    background-color: gray;
}
.sidebar__info > a {
    width: 150px;
}
.sidebar__info_hide {
    display: none;
    position: absolute;
    right: 151px;
    top: 43px;
}
.sidebar__info_hide a {
    width: 300px;
    font-size: 15px;
    padding: 8px 0;
}
.sidebar__info > a:nth-child(2):hover ~ .sidebar__info_hide, 
.sidebar__info_hide:hover {
    display: block;
}
.check {
    display: none;
    justify-content: space-between;
    position: relative;
}
.check.show {
    display: block;
}
.check__steps {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding-bottom: 50px;
    height: fit-content;
}
.check__steps a {
    color: black;
    text-decoration: none;
}
.check_item {
    float: left;
    margin-left: 0;
    margin-bottom: 5px;
    width: auto;
    height: 50px;
    list-style-type: none;
    padding: 12px 31px 8px;
    border-right: 3px solid white;
    position: relative;
}
.check_item a {
    font-size: 24.5px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.12;
    letter-spacing: 0.12px;
}
.check_item.active {
    background-color:#686868;
    border: 1px solid black;
}

.check_item.active ~ li {
    background-color: transparent;
}
.check_item.active a {
    color: white;
}
.apply__steps {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding-bottom: 50px;
    height: fit-content;
}
.apply__steps.active a {
    color: white;
    text-decoration: none;
}
.apply__steps a {
    color: black;
    text-decoration: none;
}
.step {
    float: left;
    margin-left: 0;
    margin-bottom: 5px;
    width: auto;
    height: 50px;
    list-style-type: none;
    padding: 12px 34px 10px 31px;
    border-right: 3px solid white;
    position: relative;
}
.step a {
    font-size: 22px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.25;
    letter-spacing: 0.11px;
}
.step.active {
    background-color: black;
    border: 1px solid black;
}
.step.active a {
    color: white;
}

.step.active ~ li {
    background-color: transparent;
}
.step.active ~ li a {
    color: #000;
}
.check__textarea {
    height: 280px;
    width: 100%;
    font-size: 18px;
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px;
    resize: none;
    background-color: white;
}
.check p {
    font-size: 20.5px;
    padding: 20px 0;
}